<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="haust.vk.dao.ArticleDao" >
	<insert id="insertArticleabstract" parameterType="haust.vk.entity.Articleabstract">
		insert into articleabstract(article_id,article_title,article_show_img,classify_id,abstract_content,user_id,article_attachment) 
				values(#{article_id},#{article_title},#{article_show_img},#{classify_id},#{abstract_content},#{user_id},#{article_attachment})
	</insert>
	
	<insert id="insertArticlecontent" parameterType="java.util.Map">
		insert into articlecontent(article_id,article_content) values(#{article_id},#{article_content})
	</insert>
	
	<insert id="insertArticletag" parameterType="haust.vk.entity.Articletag">
		insert into articletag(article_id,user_id,tag_content) values(#{article_id},#{user_id},#{tag_content})
	</insert>
	
	<delete id="deleteArticleabstract" parameterType="string">
		delete from articleabstract where article_id = #{article_id}
	</delete>
	
	<delete id="deleteArticlecontent" parameterType="string">
		delete from articleabstract where article_id = #{article_id}
	</delete>
	
	<delete id="deleteArticletag" parameterType="string">
		delete from articleabstract where article_id = #{article_id}
	</delete>
</mapper>