<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="haust.vk.dao.ArticleDao" >
	<!-- 定义关联关系 -->
	<!-- <resultMap type="" id=""></resultMap> -->
	<!-- 
		使用 resultType 和 resultMap 一对一查询小结
			resultType:使用resultType实现较为简单，如果pojo中没有包括查询出来的列名，
					      需要增加列名对应的属性，即可完成映射。如果没有查询结果的特殊要求
					      建议使用resultType。
			resultMap：需要单独定义resultMap，实现有点麻烦，如果对查询结果有特殊的要求，
					     使用resultMap可以完成将关联查询映射pojo的属性中。resultMap可以
					     实现延迟加载，resultType无法实现延迟加载
	 -->
	<insert id="insertArticle" parameterType="haust.vk.entity.Article">
		insert into article(articleID,classifyID,userID,title,content,status
			<!-- 摘要 -->
			<if test="summary != null">,summary</if>
			<!-- 附件 -->
			<if test="attachment != null">,attachment</if>
			)
			values(
				#{articleId}, #{classifyId}, #{userId}, #{title}, #{content}, #{status}
				 <if test="summary != null">, #{summary}</if>
				 <if test="attachment != null">, #{attachment}</if>
			)
		
	</insert>
	
	<delete id="deleteByarticleId" parameterType="String">
		delete article where articleId=#{articleId}
	</delete>
	
	<update id="updateArticle" parameterType="java.util.Map">
		update 
			article
			<set>
				<if test=" classifyId!= null "> classifyId = #{classifyId}</if>
				<if test=" title!= null "> title = #{title}</if>
				<if test=" summary!= null "> summary = #{summary}</if>
				<if test=" content!= null "> content = #{content}</if>
				<if test=" status!= null "> status = #{status}</if>
				<if test=" attachment!= null "> attachment = #{attachment}</if>
				<if test=" readnum!= null ">  readnum= #{readnum}</if>
				<if test=" praisenum!= null ">  = #{praisenum}</if>
			</set>
		where
			articleId = #{articleId}
	</update>
 
	<!-- 查询 -->
	<!-- 单个文章的查询 -->
	<!-- 按照标签查询 -->
	<!-- 按照分类查询 -->
	<!-- 按照作者查询 -->
	
	<!-- 精确 -->
	<select id="selectArticleByOnePrecision" parameterType="java.util.Map" resultType="haust.vk.entity.Article">
		select * from article 
			<trim  prefix= "WHERE" prefixOverrides= "AND |OR ">
				<if test="articleId != null">
					articleId = #{articleId}
				</if>
				<if test="title != null">
					AND title = #{title}
				</if>
				<if test="tagId != null">
					AND articleId in select articleId from article_tag where tagId=#{tagId}
				</if>
				<if test="classifyId != null">
					AND classifyId = #{classifyId}
				</if>
				<if test="status != null">
					status = #{status}
				</if>
			</trim>
	</select>
	<!-- 模糊 -->
	<select id="selectArticleByOneBlur" parameterType="java.util.Map" resultType="haust.vk.entity.Article">
		select * from article 
			<trim  prefix= "WHERE" prefixOverrides= "AND |OR ">
				<if test="title != null">
					AND title like #{title}
				</if>
				<if test="tagname != null">
					AND articleId in select articleId from article_tag where tagId=#{tagId}
				</if>
				<if test="classifyname != null">
					AND classifyId in select classifyId from classify like '%${classifyname}%'
				</if>
				<if test="status != null">
					status = #{status}
				</if>
			</trim>
	</select>
	
	<!-- 按照作者.标签查询 -->
	<!-- 按照作者.分类查询 -->
	<!-- 精确 -->
	<select id="selectArticleByTwoPrecision" parameterType="java.util.Map" resultType="haust.vk.entity.Article">
		select * from article 
			<trim  prefix= "WHERE" prefixOverrides= "AND |OR ">
				<if test="tagId != null and userId != null">
					AND articleId in select articleId from article_tag where tagId=#{tagId}
					AND userId = #{userId} 
				</if>
				
				<if test="classifyId != null and userId != null">
					AND classifyId = #{classifyId}
					AND userId = #{userId}
				</if>
				
				<if test="status != null">
					status = #{status}
				</if>
			</trim>
	</select>
	<!-- 模糊 -->
	<select id="selectArticleByTwoBlur" parameterType="java.util.Map" resultType="haust.vk.entity.Article">
		select * from article 
			<trim  prefix= "WHERE" prefixOverrides= "AND |OR ">
				<if test="tagname != null and userId != null">
					AND articleId in 
						select articleId from article_tag 
							where tagId in 
								select tagId from tag where tagname like '%${tagname}%'
					AND userId = #{userId} 
				</if>
				
				<if test="classifyname != null and userId != null">
					AND classifyId in select classifyId from classify classifyname like '%'{classifyname}%'
					AND userId = #{userId}
				</if>
				
				<if test="status != null">
					status = #{status}
				</if>
			</trim>
	</select>
	
	<!-- 按照作者.分类.标签查询 -->
	<!-- 精确 -->
	<select id="selectArticleByThreePrecision" parameterType="java.util.Map" resultType="haust.vk.entity.Article">
		select * from article 
			where 
				userId=#{userId} and 
				classifyId=#{classifyId} and 
				articleId in 
					select articleId from article_tag 
						where tagId = #{tagId} 
	</select>
	
	<!-- 模糊 -->
	<select id="selectArticleByThreeBlur" parameterType="java.util.Map" resultType="haust.vk.entity.Article">
		select * from article 
			where 
				userId=#{userId} and 
				classifyId in select classifyId from classify where classifyname like '%${classifyname}%' and 
				articleId in select articleId from article_tag where tagId in select tagId from tag where tagname = ${tagname}
	</select>
</mapper>