<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="haust.vk.dao.UserloginDao" >
	<insert id="insertUserlogin" parameterType="haust.vk.entity.Userlogin">
		insert into userlogin(token_id,user_id,login_device_type,user_login_time) values(#{token_id},#{user_id},#{login_device_type},#{user_login_time})
	</insert>
</mapper>