<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="haust.vk.dao.CollectDao" >
	
	<insert id="insertCollect" parameterType="haust.vk.entity.Collectinfo">
		 
	</insert>
	
	<delete id="deleteCollect" parameterType="string">
		
	</delete>
	
	<select id="selectCollectNotifyByUserid" parameterType="string"  resultType="java.util.Map">
		
	</select>
	
	<select id="selectCollectListByUserid" parameterType="string" resultType="java.util.Map">
		
	</select>
	
</mapper>