<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="haust.vk.d ao.FollowDao" >
	<insert id="insertFollow" parameterType="java.util.Map">
		insert into followinfo(follow_id,user_id,follow_user_id,is_eachother) values( #{follow_id}, #{user_id}, #{follow_user_id}, #{is_eachother})
	</insert>
	
	<update id="updateFollow" parameterType="java.util.Map">
		update followinfo set is_eachother = #{is_eachother} where user_id = #{user_id} and follow_user_id = #{follow_user_id}
	</update>
	
	<delete id="deleteFollow" parameterType="string">
		delete from followinfo where follow_id = #{follow_id}
	</delete>
	
	<select id="selectFollowListByUseridHelp" parameterType="string" resultType="java.util.Map">
		select * from followinfo where user_id = #{user_id}
	</select>
	
	<select id="selectFollowListByUserid" parameterType="string" resultType="java.util.Map">
		select userinfo.* from userinfo where user_id in
			<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
	</select>

	<select id="selectFollowListByUseridAndfollowUserid" parameterType="java.util.Map" resultType="java.util.Map">
		select * from followinfo where 
			<choose>
				<when test="reverse == null">
					user_id  = #{user_id}
					and
					follow_user_id in 
					<foreach  item="item"  index="index"  collection="listuser_id"  open="("  separator=","  close=")">
						#{item}
					</foreach>
				</when>
				<otherwise>
					follow_user_id  = #{user_id}
					and
					user_id in 
					<foreach  item="item"  index="index"  collection="listuser_id"  open="("  separator=","  close=")">
						#{item}
					</foreach>
				</otherwise>
			</choose>
	</select>
	
	<select id="selectFollowNotifyByUseridHelp" parameterType="string" resultType="string">
		select user_id from followinfo where follow_user_id = #{user_id} and follow_create_time > ( select follow_read_time from notifiinfo where user_id = #{user_id} )
	</select>
	
	<select id="selectFollowNotifyByUserid" resultType="java.util.Map">
		select * from userinfo where user_id in 
			<foreach collection="list" item="item" open="(" separator="," close=")" index="index">
				#{item}
			</foreach>
	</select>
	
	<select id="selectFansList" parameterType="string" resultType="java.util.Map">
		select * from followinfo where follow_user_id = #{user_id} order by -follow_id ASC limit #{start},#{pagesize}
	</select>
	
	<select id="selectFollowList" parameterType="string" resultType="java.util.Map">
		select * from followinfo where user_id = #{user_id}
	</select>
	
	<update id="updateNotifiinfo" parameterType="string">
		update notifiinfo set follow_read_time = now() where user_id = #{user_id} order by -follow_id ASC limit #{start},#{pagesize}
	</update>
</mapper>