<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="haust.vk.dao.UserinfoDao" >
	<!-- 注册 -->
	<insert id="registerUserInfo" parameterType="java.util.Map">
		insert into userinfo(user_id,user_headimg,user_background_img,user_email,user_name,user_password,user_path) values(#{user_id},#{user_headimg},#{user_background_img},#{user_email},#{user_name},#{user_password},#{user_path})
	</insert>
	<!-- 登录 -->
	<select id="loginUserInfo" parameterType="java.util.Map" resultType="haust.vk.entity.Userinfo">
		select * from userinfo where user_email= #{user_email} AND user_password= #{user_password}
	</select>
	<!-- 查找用户 -->
	<select id="selectUserByEmail" parameterType="String" resultType="haust.vk.entity.Userinfo">
		select * from userinfo where user_email=#{user_email} limit 0,1
	</select>
	<!-- 查找用户 -->
	<select id="selectUserByUserpath" parameterType="String" resultType="haust.vk.entity.Userinfo">
		select * from userinfo where user_path=#{user_path} limit 0,1
	</select>
	<!-- 用户总数 -->
	<select id="selectCount" parameterType="string" resultType="string">
		select count(user_id) from userinfo 
			<choose>
				<when test="user_id != null and keywords != null">
					where user_id != #{user_id} and 
						<choose>
							<when test="is_email != null">
								user_email like "%${keywords}%"
							</when>
							<otherwise>
								user_name like "%${keywords}%"
							</otherwise>
						</choose>
				</when>
				<when test="user_id != null and keywords == null">
					where user_id != #{user_id}
				</when>
				<when test="user_id == null and keywords != null">
					where
						<choose>
							<when test="is_email != null">
								user_email like "%${keywords}%"
							</when>
							<otherwise>
								user_name like "%${keywords}%"
							</otherwise>
						</choose>
				</when>
				<otherwise>
					where 1=1
				</otherwise>
			</choose>
	</select>
	<!-- 用户列表 -->
	<select id="selectUserList" parameterType="String" resultType="java.util.Map">
		select * from userinfo 
				<if test="keywords != null">
					where
					<choose>
						<when test="is_email != null">
							user_email like "%${keywords}%"
						</when>
						<otherwise>
							user_name like "%${keywords}%"
						</otherwise>
					</choose>
				</if>
				limit #{start},#{pagesize}
	</select>
	<!-- 更新用户头像/背景图 -->
	<update id="updateUserimg" parameterType="java.util.Map">
		update userinfo set 
			<if test="backimg != null"> user_background_img = #{backimg} </if>
			<if test="headimg != null"> user_headimg = #{headimg} </if>
		where user_id = #{user_id}
	</update>
	<!-- 更改用户基本信息 -->
	<update id="updateUserBaseinfo" parameterType="haust.vk.entity.Userinfo">
		update userinfo set 
			user_name = #{user_name},user_sex = #{user_sex},user_path = #{user_path},user_signature=#{user_signature}
		where user_id = #{user_id}
	</update>
	<!-- 更改用户邮箱 -->
	<update id="updateUseremail" parameterType="haust.vk.entity.Userinfo">
		update userinfo set 
			user_email = #{user_email}
		where user_id = #{user_id}
	</update>
	<!-- 更改用户密码 -->
	<update id="updateUserpass" parameterType="haust.vk.entity.Userinfo">
		update userinfo set user_password = #{user_password_new}
		where user_id = #{user_id} AND user_password = #{user_password_old}
	</update>
</mapper>